<h2>O produto<br> {{user.nameProduto}} do fornecedor<br> {{user.nameFornecedor}} foi realizada a compra em <br>{{user.dataCompra}} o valor da compra foi de<br> {{user.valorCompra}} o valor da venda foi de <br>{{user.valorVenda}} categoria {{user.categoria}}</h2>

<a href="/">Home</a>
<a href="/users/add">Novo Produto</a>